main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: calc(var(--spacing-base) * 4) calc(var(--spacing-base) * 2);
  align-items: center;
  background-color: var(--white);
}

main .content-box {
  width: 100%;
  border-radius: calc(var(--spacing-base) * 0.5);
  margin-bottom: calc(var(--spacing-base) * 4);
  border: 1px solid var(--primary);
  padding: calc(var(--spacing-base) * 2);
}

main .content-box:last-of-type {
  margin-bottom: 0;
}

main .content-box h2 {
  color: var(--primary);
}
