:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #4d4d4d;
  --primary: #fe072e;
  --secondary: #f94f54;
  --font-size-base: 16px;
  --font-weight-bold: 700;
  --spacing-base: 8px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: var(--spacing-base) 0;
  line-height: calc(var(--spacing-base) * 4);
}

a {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: calc(var(--spacing-base) * 0.5);
  color: var(--white);
  padding: calc(var(--spacing-base) * 0.75);
  text-decoration: none;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--secondary) 50%,
    var(--white) 50%
  );
  transition: background-position 0.4s;
}

a:hover {
  color: var(--secondary);
  background-position: -100% 0;
}
