:root {
  --black: #000000;
  --white: #ffffff;
  --yellow: #ffde59;
  --red: #c30100;
  --grey: #e1e1e1;
  --font-size-base: 16px;
  --spacing-base: 8px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: var(--spacing-base) 0;
  line-height: calc(var(--spacing-base) * 4);
}

a {
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: calc(var(--spacing-base) * 0.5);
  color: var(--white);
  padding: calc(var(--spacing-base) * 0.75);
  text-decoration: none;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--red) 50%, var(--white) 50%);
  transition: background-position 0.4s;
}

a:hover {
  color: var(--red);
  background-position: -100% 0;
}
